# Hardhat networks
PRIVATE_KEY=
BASE_RPC_URL=https://mainnet.base.org
BASE_SEPOLIA_RPC_URL=https://sepolia.base.org
ETHERSCAN_API_KEY=

# If empty, deploy.js tries to deploy helper tokens (RewardToken)
STAKE_TOKEN=
REWARD_TOKEN=

# Farm config
REWARD_PER_BLOCK=1000000000000000000
